{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
  <div id="position">
      <Posts />
  </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/tutorial.js') }}"></script>
{% endblock %}
